In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df_estudis = pd.read_csv(r'C:\Users\irene\Downloads\2025_pad_mdb_niv-educa-esta_edat-q_sexe.csv')
df_estudis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11164 entries, 0 to 11163
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data_Referencia  11164 non-null  object
 1   Codi_Districte   11164 non-null  int64
 2   Nom_Districte    11164 non-null  object
 3   Codi_Barri       11164 non-null  int64
 4   Nom_Barri        11164 non-null  object
 5   Valor            11164 non-null  object
 6   NIV_EDUCA_esta   11164 non-null  int64
 7   EDAT_Q           11164 non-null  int64
 8   SEXE             11164 non-null  int64
dtypes: int64(5), object(4)
memory usage: 785.1+ KB

In [ ]:
# Numero de personas total en el df
df_estudis.loc[df_estudis['Valor'] == '..' , 'Valor'] = 0
df_estudis['Valor'] = df_estudis['Valor'].astype(int)
df_estudis['Valor'].sum()

np.int64(1523134)

In [32]:
# Número de personas mayores de 65 años:
df_estudis_mayors65 = df_estudis.loc[df_estudis['EDAT_Q'] >= 13]
df_estudis_mayors65['Valor'].sum()

np.int64(358823)

# Lugar de nacimiento

In [3]:
df_lloc = pd.read_csv(r'C:\Users\irene\Downloads\2025_pad_mdb_lloc-naix_edat-q_sexe.csv')
df_lloc.head()

,Data_Referencia,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Valor,LLOC_NAIX,EDAT_Q,SEXE
0,2025-01-01,1,Ciutat Vella,1,el Raval,819,1,0,1
1,2025-01-01,1,Ciutat Vella,1,el Raval,854,1,0,2
2,2025-01-01,1,Ciutat Vella,1,el Raval,646,1,1,1
3,2025-01-01,1,Ciutat Vella,1,el Raval,732,1,1,2
4,2025-01-01,1,Ciutat Vella,1,el Raval,561,1,2,1

In [30]:
df_lloc.loc[df_lloc['Valor'] == '..' , 'Valor'] = 0
df_lloc['Valor'] = df_lloc['Valor'].astype(int)
df_lloc['Valor'].sum()

np.int64(1727354)

In [33]:
# Número de personas mayores de 65 años:
df_lloc_mayors65 = df_lloc.loc[df_lloc['EDAT_Q'] >= 13]
df_lloc_mayors65['Valor'].sum()

np.int64(358283)